div{
  margin: 10px;
}

.container-hidden{
  background-color: green;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.container-scroll{
  background-color: yellowgreen;
  width: 300px;
  height: 150px;
  overflow: scroll;
}

.container-visible{
  background-color: yellowgreen;
  width: 300px;
  height: 150px;
  overflow: visible;
}

.container-auto{
  background-color: yellowgreen;
  margin-top: 70px;
  width: 300px;
  height: 150px;
  padding: 1px;
  overflow: auto;
}
